{% extends 'user/base.html' %}
{% block title %}
Portafolio - PortafolioAdmin 
{% endblock title %}
{% load static %}
{% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a>DevFolio</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#work">Work</a></li>
          <li><a class="nav-link scrollto " href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url({% static 'assets/img/bg.jpg' %})">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">I am {{ usuario.first_name|title }} </h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="{{ usuario.profile.titulo|upper }}"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="{{ user.profile.image.url }}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Nombre: </span> <span>{{ usuario.last_name|title }} {{ usuario.first_name|title }}</span></p>
                        <p><span class="title-s">Profile: </span> <span>{{ usuario.profile.titulo|title }}</span></p>
                        <p><span class="title-s">Pais: </span> <span>{{ usuario.profile.pais }}</span></p>
                        <p><span class="title-s">Email: </span> <span>{{ usuario.email }}</span></p>
                        <p><span class="title-s">Telefono: </span> <span>{{ usuario.profile.phone }}</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <!--<p class="title-s">Skill</p>
                    <span>HTML</span> <span class="pull-right">85%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>CSS3</span> <span class="pull-right">75%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>PHP</span> <span class="pull-right">50%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>-->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      {{ usuario.profile.about }}
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <p class="subtitle-a">
                Experiencia en temas de
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          {% for service in servicios %}
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
              </div>
              <div class="service-content">
                {% if service %}
                <h2 class="s-title">{{ service }}</h2>
                {% else %}
                <h2 class="s-title">Sin experiencia aún</h2>
                {% endif %}
                <!--<p class="s-description text-center">
                </p>-->
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Portfolio
              </h3>
              <p class="subtitle-a">
                Proyectos realizados
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          {% for proyecto  in proyectos %}
          <div class="col-md-4">
            <div class="work-box">
             {% if proyecto.foto_url %}
              <a href="{{ proyecto.foto_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                    <img src="{{ proyecto.foto_url }}" alt="" class="img-fluid" style="width: 100%; height: 220px; object-fit: cover;">
                </div>
              </a>
              {% elif proyecto.foto_img %}
              <a href="{{ proyecto.foto_img.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                    <img src="{{ proyecto.foto_img.url }}" alt="" class="img-fluid" style="width: 100%; height: 220px; object-fit: cover;">
                </div>
              </a>
              {% endif %}
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">{{ proyecto.title }}</h2>
                    <div class="w-more">
                      <span class="w-ctegory">{{ proyecto.tags }}</span> 
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="{% url 'proyecto-detail' proyecto.id %}"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'assets/img/overlay-bg.jpg' %})">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-12">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Mantengamonos en contacto
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        Si te gusta mi trabajo o deseas realizar algún proyecto. Puedes hablarme por algunos de mis
                        redes o escribirme por correo
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-phone"></span> {{ usuario.profile.phone }}</li>
                        <li><span class="bi bi-envelope"></span> {{ usuario.email }}</li>
                      </ul>
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href="{{ usuario.profile.gitPerfil }}"><span class="ico-circle"><i class="bi bi-github"></i></span></a></li>
                        <li><a href="{{ usuario.profile.linkedPerfil }}"><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}